{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <div class="row justify-content-md-center">
        <h2 class="header-title">Account</h2>
        <div class="card">
            <div class="card-body">
                <div class="row align-items-start">
                    <div class="col">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Account Number</th>
                                <th>Created Date</th>
                                <th>Account type</th>
                                <th>Amount</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>001</td>
                                <td>2022/01/15</td>
                                <td>Current</td>
                                <td>Rs: 100000.00</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <div class="btn btn-primary btn-sm">
                            <a class="text-black" href="{{path('app_auth_change_password')}}"><i class="mdi mdi-lock-reset mr-2"></i>Change Password</a>
                        </div>
                        <div class="btn btn-primary btn-sm">
                            <a class="text-black" href="{{path('app_transfer_history')}}"><i class="mdi mdi-clipboard-text-outline mr-2"></i>View Transfer History</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
