{% extends 'base.html.twig' %}

{% block title %}Hello LoanController!{% endblock %}

{% block body %}
    <h2>Online Loan Request</h2>
    <div class="card">
        <div class="card-body">
            <p>Maximum attainable loan amount: </p>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
