{% extends 'base.html.twig' %}

{% block title %}Hello LoanController!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('onlineLoan') }}
{% endblock %}

{% block body %}
    <div class="row justify-content-md-center">
        <h2 class="page-heading" >Online Loan Request</h2>
        <div class="card w-50">
            <div class="card-body">
                <p>Maximum attainable loan amount (LKR): <span id="max-amount"></span></p>
                {{
                form_start(
                    form,
                    {
                        'attr':
                        {
                            'data-fd-select-id': form.fdId.vars.id
                        }
                    }
                )
                }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
