{% extends 'base.html.twig' %}

{% block title %}Hello LoanController!{% endblock %}

{% block body %}
    <h2>Loan Request Form</h2>
    <div class="card">
        <div class="card-body">
            <form class="form-horizontal needs-validation" method="post" novalidate>
                <h4>Customer Details</h4>
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-4">
                            <label for="account">Account Number</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="account"
                                    name='account'
                                    value=""
                                    required
                            />
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid Address.
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-4">
                            <label for="ID">ID</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="ID"
                                    name='ID'
                                    value=""
                                    required
                            />
                        </div>
                    </div>
                    <h4>Loan Details</h4>
                    <div class="row">

                        <div class="form-group mb-4">
                            <label for="loan_plan">Loan Plan</label>
                            <select class="form-select" id="loan_plan" name="loan_plan" required>
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="form-group mb-4">
                            <label for="loan_duration">Loan Duration</label>
                            <select class="form-select" id="loan_duration" name="loan_duration" required>
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="form-group mb-4">
                            <label for="amount">Amount</label>
                            <input
                                    type="number"
                                    class="form-control"
                                    id="amount"
                                    name="amount"
                                    required
                            />
                        </div>
                    </div>


                    <div class="mt-4">
                        <button
                                class="btn btn-success btn-block waves-effect waves-light"
                                type="submit"
                                name="btn_submit"
                        >
                            Submit
                        </button>
                        <button
                                class="btn btn-danger btn-block waves-effect waves-light"
                                type="submit"
                                name="btn_submit"
                        >
                            Cancel
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
{% endblock %}
